#surveyBg::after {
    content: "";
    background: url('../assets/aleksi-tappura-445-unsplash.jpg') top center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }